 ## SQLite3 훈련

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [75]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

rows

In [8]:
cur.execute("SELECT * FROM eagles WHERE position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(9, 41, '이현호', '투수')
(10, 48, '채드벨', '투수')

 ### 데이터 추가

In [11]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(3, '임해찬','내야수')")

In [12]:
cur.execute("SELECT * FROM eagles WHERE position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 3, '노태형', '내야수')
(7, 16, '하주석', '내야수')
(11, 3, '임해찬', '내야수')

In [13]:
 ## DB에 반영
conn.commit()

In [14]:
 # 파라미터 : 튜플을 사용해서 전달
back_no = 25
name = '최진행'
position = '외야수'
sql = 'INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)'
cur.execute(sql,(back_no,  name, position))
conn.commit()

In [18]:
 # 튜플 리스트 사용
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players :
    cur.execute(sql, player)
conn.commit()

In [22]:
 #excutemany() 사용
players = [(48,'벨','투수'), (53,'김민우','투수')]
cur.executemany(sql, players)
conn.commit()

 ### 데이터 조회

In [39]:
#순회 조회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur :
    print (result)

(2, 13, '최재훈', '포수')
(8, 27, '이해창', '포수')

In [40]:
 #한 건 조회 *****************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(2, 13, '최재훈', '포수')

In [41]:
result = cur.fetchone()
print(result)

(8, 27, '이해창', '포수')

In [42]:
#갯구 지정 조회 *****************************
sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (9, 41, '이현호', '투수'), (10, 48, '채드벨', '투수')]

In [43]:
#전부 조회 
results = cur.fetchall()
results

[(13, 38, '안영명', '투수'),
 (14, 54, '서균', '투수'),
 (15, 48, '벨', '투수'),
 (16, 53, '김민우', '투수')]

In [45]:
#전부 조회 *****************************
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(4, 3, '노태형', '내야수'), (7, 16, '하주석', '내야수'), (11, 3, '임해찬', '내야수')]

In [47]:
 # 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (30, '호잉'),
 (27, '이해창'),
 (41, '이현호'),
 (48, '채드벨'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [49]:
 # 백넘버가 30~39 까지인 선수들의  명수
sql = "select * from eagles where back_no between 30 and 39"
cur.execute(sql)
results = cur.fetchall()
results

[(6, 30, '호잉', '외야수'), (13, 38, '안영명', '투수')]

In [51]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
result

(14, 54, '서균', '투수')

In [52]:
# 포지션별 사람 수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 3), ('외야수', 3), ('투수', 7), ('포수', 2)]

### 데이터 검색

In [56]:
 # back_no 54인 선수는?
back_no = 54
sql = "select * from eagles where back_no = ?"
cur.execute(sql, back_no)
result = cur.fetchone()
result

ValueError: parameters are of unsupported type

In [55]:
cur.execute(sql, (back_no,))
result = cur.fetchone()
result

(14, 54, '서균', '투수')

 ### 데이터 변경

In [72]:
# id가 19인 하주석 선수의 포지션을 외야수로 변경
id = 19
position = '내야수'
sql = "UPDATE eagles SET position = ? WHERE id = ?"
cur.execute(sql, (position, id))
conn.commit()

### 데이터 삭제

In [74]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id, ))
conn.commit()