 # Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1
a = 20
b = 30
c = a+b
print(c)

50

In [2]:
# 예제 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [3]:
# 예제 2-2 mod
x = 20
computer = 'Mac'
age = 30
my_score = 70
_name = '홍길동'
my_birth_year = 1997
data2 = 20.3

print(x, computer, age, my_score, _name, my_birth_year, data2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
#ex 예제 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [5]:
#예제 2-5
x = 3.3764
y = 6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [9]:
#예제 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[1])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!

pp

In [10]:
z = '내 강아지 이름은 happy에요.'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [12]:
# 예제 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [13]:
# 예제 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(len(a))

15

In [20]:
#예제 2-17
name = '홍지수'
greet = name +'님 안녕하세요!'
print(greet)

add = '님 안녕하세요!'
greet2 = name + add
print(greet2)

홍지수님 안녕하세요!
홍지수님 안녕하세요!

In [24]:
#예제2-19
eng = 80
result ='영어점수 : ' + str(eng) + '점'
print(result)

영어점수 : 80점

In [25]:
#예제 2-20
name = '김수영'
a = '나는 %s입니다.' %name
print(a)

나는 김수영입니다.

In [27]:
#에제2-20
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' % (year,month,day)
print(a)

2020-03-05

In [32]:
#예제 2-23
height = 172.5
a = '키는 %.2f입니다.' % height
print(a)

a = '키는 %10.2f입니다.' % height
print(a)

키는 172.50입니다.
키는     172.50입니다.

In [34]:
#예제 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [48]:
#문자열 매소드
x = 'I am happy!'
x.count('am')
x.count(' ')
x.replace('am', 'was')
x.split(' ')
x.isspace()

False

In [50]:
#예제2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d,%d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum,avg))

두 과목 점수 : 80,87
합계 : 167, 평균 : 83.50

In [51]:
# sep, end
print('오늘은')
year=2020
month=5
day=29
print(year,month,day)
print('입니다')

오늘은
2020 5 29
입니다

In [52]:
# 오늘은 2020/5/29 입니다.
print('오늘은', end=' ')
print(year,month,day, sep='/',end=' ')
print('입니다')

오늘은 2020/5/29 입니다

In [53]:
#예제 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.'% name)

이름을 입력하세요 : ㅇ
ㅇ님 반갑습니다.

In [57]:
#예제 2-32
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = a + b 

print(c)
print(type(a),type(b),type(c))

c = int(a) + int(b)

print(c)

첫 번째 숫자를 입력하세요 : 2.4
두 번째 숫자를 입력하세요 : 3.5
2.43.5
<class 'str'> <class 'str'> <class 'str'>

ValueError: invalid literal for int() with base 10: '2.4'

In [58]:
#예제2-35 주석문
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일:2021.9.20
"""

a = 10
b = 20

c= a + b

print(c)

30