In [11]:
import sqlite3

In [12]:
conn = sqlite3.connect('./group.db')

In [13]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS idol(id INTGEGER NOT NULL, name TEXT, 구성원수 INTEGER, 데뷔일자 TEXT, 소속사 TEXT, PRIMARY KEY(id));')

In [14]:
cur.execute("INSERT INTO idol VALUES(1,'오마이걸', 8, '2015-04-21', 'WM엔터')")

IntegrityError: UNIQUE constraint failed: idol.id

In [ ]:
conn.commit()

In [ ]:
sql = "INSERT INTO idol(id, name, 구성원수, 데뷔일자, 소속사) VALUES(?,?,?,?,?)"
gr = [(2, '마마무',4,'2014-06-19','RBW'),
     (3,'방탄소년단',7,'2013-06-13','빅히트 엔터'),
     (4, '우주소녀',13,'2016-02-25','스타쉽 엔터'),
     (5, '엑소',9,'2012-04-08','SM 엔터'),
     (6, '트와이스',9,'2015-10-20','JYP 엔터')]
for player in gr:
    cur.execute(sql, player)

In [ ]:
conn.commit()

In [ ]:
cur.execute('CREATE TABLE IF NOT EXISTS song(song_id INTGEGER NOT NULL, song_name TEXT, 그룹id INTEGER, 발표년도 INT, 작곡가 TEXT, 도입부가사 TEXT, PRIMARY KEY(song_id));')

In [ ]:
sql = "INSERT INTO song(song_id, song_name, 그룹id, 발표년도, 작곡가, 도입부가사) VALUES(?,?,?,?,?,?)"
sn = [(1, '작은 것들을 위한 시', 3, 2019,'Pdogg 외', '모든게 궁금해 How`s your day'),
     (2, 'FAKE LOVE', 3, 2018,'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있어'),
     (3, '넌 is 뭔들', 2, 2016,'김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너'),
     (4, '음아아예(Um oh Ah Yeh)', 2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
     (5, '내 얘길 들어봐', 1, 2016, '황세준', '한 번 두번 세번 네 번 말해도'),
     (6, '으르렁', 5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
     (7, 'MAMA', 5, 2013, '유영진', 'Careless careless Shoot anonymous anonymous'),
     (8, 'CHEER UP', 6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
     (9, 'TT', 6, 2016, '블랙아이드필승 외', '이런 내맘 모르고 너무해 너무해'),
     (10, '빨간맛', 11, 2017, 'Ludwing Lindell 외', '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]

for ss in sn :
    cur.execute(sql, ss)

In [ ]:
conn.commit()

In [17]:
with sqlite3.connect("group.db") as db:
    cursor = conn.cursor()
    cursor.execute("""SELECT idol.name, idol.구성원수, idol.데뷔일자, song.song_name, song.발표년도
                    FROM idol
                    INNER JOIN song ON song.그룹id=idol.id;""",(data,))
    ViewData = cursor.fetchall()
    DataTableCompAndClient([ViewData])
db.commit()

SyntaxError: EOL while scanning string literal (<ipython-input-17-e0cc109840bf>, line 3)

In [18]:
sql = "SELECT idol.name, idol.구성원수, idol.데뷔일자, song.song_name, song.발표년도 FROM idol INNER JOIN song ON song.그룹id=idol.id"
cur.execute(sql)
results = cur.fetchall()
results

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', 2018),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', 4, '2014-06-19', '음아아예(Um oh Ah Yeh)', 2015),
 ('오마이걸', 8, '2015-04-21', '내 얘길 들어봐', 2016),
 ('엑소', 9, '2012-04-08', '으르렁', 2013),
 ('엑소', 9, '2012-04-08', 'MAMA', 2013),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', 9, '2015-10-20', 'TT', 2016)]

In [25]:
import pandas as pd
from pandas import DataFrame

In [28]:
df = DataFrame(results, columns=['그룹이름', '구성원수', '데뷔일자', '노래이름', '발표년도'])

In [29]:
df

    그룹이름  구성원수        데뷔일자                노래이름  발표년도
0  방탄소년단     7  2013-06-13         작은 것들을 위한 시  2019
1  방탄소년단     7  2013-06-13           FAKE LOVE  2018
2    마마무     4  2014-06-19             넌 is 뭔들  2016
3    마마무     4  2014-06-19  음아아예(Um oh Ah Yeh)  2015
4   오마이걸     8  2015-04-21            내 얘길 들어봐  2016
5     엑소     9  2012-04-08                 으르렁  2013
6     엑소     9  2012-04-08                MAMA  2013
7   트와이스     9  2015-10-20            CHEER UP  2016
8   트와이스     9  2015-10-20                  TT  2016