In [16]:
from bs4 import BeautifulSoup 
from urllib.request import urlopen

In [29]:
url_base = 'https://movie.naver.com'
url_sub = '/movie/bi/mi/point.nhn?code=186615'
html = urlopen(url_base + url_sub)
soup = BeautifulSoup(html, 'html.parser')

In [30]:
ifr_url = soup.find('iframe')['src']
ifr_url

'/movie/bi/mi/pointWriteFormList.nhn?code=186615&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false'

In [31]:
url = url_base + ifr_url
html = urlopen(url)
soup = BeautifulSoup(html, 'html.parser')

In [32]:
count = soup.find('strong', 'total')
count

In [33]:
count = count.find('em').string     # get_text() 대신에 string
count

'4,813'

In [34]:
count = int(count.replace(',',''))
count

4813

In [35]:
import math
total_page = math.ceil(count/10)
total_page

482

In [37]:
point = []
review = []
date = []
url_p = '&page='

for page in range(1, total_page+1):
    print(page, end=' ')
    url = url_base + ifr_url + '&page=' + str(page)
    html = urlopen(url)
    soup = BeautifulSoup(html, 'html.parser')
    result = soup.find(class_='score_result')
    lis = result.find_all('li')
    for li in lis:
        score = li.find(class_='star_score').find('em').get_text()
        score = int(score)
        point.append(score)
        r =li.find(class_='score_reple').find('p').find('span').get_text().strip(' \t\r\n')
        if r == '관람객' :
            
        review.append(r)
        date.append(li.find(class_='score_reple').find_all('em')[1].get_text())

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482

In [38]:
import pandas as pd
df = pd.DataFrame({'평점':point, '일시':date, '감상평':review})
df.tail(10)

      평점                일시                                                감상평
4803   1  2020.01.01 22:02               우파 좀비들이 백두산 테러했으니 저도 똑같이 테러해드립니당~ ㅅㅅ
4804   1  2020.01.03 04:33  백두산 보고 실망감을 날리기 위해서 미드웨이를 봤는데....정말....비추... 시...
4805   1  2020.01.02 10:06                                 너무 쓰레기라 평가할 가치도 없음
4806   2  2019.12.31 11:16  틀딱들때문에 안봐. 틀딱이 좋아하는 영화 안봐.  백두산 봐야지.  틀딱들이 평점 ...
4807   1  2019.12.31 10:03             뭔 영화보지도 않은 태극기 부대들이 친미운동하고있나요 평점 조절합니다
4808   1  2019.12.31 09:11  대만에서 10월31일 개봉했었는데.성공못했음. 미국에서도 성적이 별로구..그이유가 ...
4809   2  2020.01.05 20:41                                                관람객
4810   2  2020.01.01 23:40                                                관람객
4811   4  2019.12.31 15:37                                                관람객
4812   1  2020.01.16 23:51  우리는 왜 이런 영화 못만드냐? 싸구려 좌파 찌라시 백x산이나 대놓고 친북사상 반일...

In [39]:
df.to_csv('midway.csv')

In [40]:
len(df)

4813