 # Chapter 6

In [4]:
#ex 6-1
menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [6]:
#ex 6-2
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1 : 
    print(x)
          
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [12]:
odds = tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [16]:
#표현식 (1,4, 9, 16, 25)
squares = tuple(i != i for i in range(1,6))
print(squares)

(False, False, False, False, False)

In [14]:
odd_squares = tuple(i != i for i in range(1,10) if i % 2 == 1)
print(odd_squares)

(False, False, False, False, False)

In [17]:
#특정 값이 있는지 확인하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

True
False

In [18]:
print(100 not in a)

True

In [19]:
print((1,2,3,) != 3)
print('python' != 3)

True
True

In [21]:
members = {'name' : '안지영', 'age' : 30, 'email' : 'jiyoung@korea.com' }

print(members)
print(members['name'])

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영

In [23]:
#ex 6-4
name = '안지영'
scores = {'kor' : 95, 'eng' : 85, 'math' : 90, 'science' : 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}